.card {
  border-radius: 12px;
  padding: 30px;
  text-align: center;
  min-width: 300px;
}

.card h2{
  color: #ffffff;
  font-size: 1.8rem;
  margin-bottom: 20px;
  font-weight: 600;
}

.card p, h3 {
  color: #ffffff;
  font-size: 1.1rem;
  margin-bottom: 15px;
  line-height: 1.5;
}

.card p:last-child {
  margin-bottom: 0;
  font-weight: 500;
  color: #2c5aa0;
  font-size: 1.2rem;
}
